/*{}*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: black;
    color:white;
    line-height: 1.6;
}
#gradient{
    position: fixed;
    inset: 0;
    width: 100vw;
    height: 100vh;
    z-index: -100;
    pointer-events: none;
}
.nav-logo {
    grid-area: "stack";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 267px;
    font-weight: bold;
    color: #000000b4;
    width: max-content;
    z-index: 10;
}
.my-navbar {
    display: grid;
    grid-template-areas: "stack";
    justify-items: center;
    align-items: center;
    padding: 0px 5% 69px 5%;
    min-height: 275px;
    background:rgb(118, 6, 6);
    margin-bottom: 30px;
    border-bottom: 2px solid #edc205;
    position: relative;
    z-index: 10;
}
.profile-grid{
    display: grid;
    grid-template-columns: 1fr 1.2fr 1fr;
    gap: 25px;
    margin-bottom: 50px;
}
.profile-card{
    background: rgba(0,0,0,0.85);
    border: 1px solid #222;
    border-radius:25px;
    border-color: #8f0f0f7b;
    padding:25px;
    min-height:400px;
}
.profile-card h2{
    color: #a70b0b;
    font-size: 25px;
    margin-top: 15px;
}
.profile-card p{
    color: #c8c7dc;
}