/*{}*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: black;
    color:white;
    line-height: 1.6;
}
#gradient{
    position: fixed;
    inset: 0;
    width: 100vw;
    height: 100vh;
    z-index: -100;
    pointer-events: none;
}
.nav-logo {
    grid-area: "stack";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -59%);
    font-size: 267px;
    font-weight: bold;
    color: #000000;
    width: max-content;
    z-index: -1
}
.my-navbar {
    display: grid;
    grid-template-areas: "stack";
    justify-items: center;
    align-items: center;
    padding: 0px 5% 69px 5%;
    min-height: 275px;
    background:linear-gradient(30deg, #060020, #5b0101, #a10101ac);
    clip-path: ellipse(70% 90% at 50% 10%);
    margin-bottom: 30px;
    border-bottom: 4px solid #edc205;
    position: relative;
    z-index: 10;
}
.nav-links button {
    border: none;
    color: black;
    background: #8f0f0f;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    transform: translate(55px, 137px);

    margin: 0px 60px;
    margin-left: 0px;
    padding: 7px 13px;
    transition: color 0.2s;
    z-index: 20;
    border-radius: 30px;
}
.nav-links button:hover, .nav-links button.active {
    color: black;
    box-shadow: 6px 7px 17px black;
}