/*{}*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: black;
    color:white;
    line-height: 1.6;
}

.nav-logo {
    grid-area: "stack";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 267px;
    font-weight: bold;
    color: #000000;
    width: max-content;
    z-index: -1
}
.navbar {
    display: grid;
    grid-template-areas: "stack";
    justify-items: center;
    align-items: center;
    padding: 0px 5% 69px 5%;
    min-height: 275px;
    background:linear-gradient(30deg, #060020, #5b0101, #a10101ac);
    clip-path: ellipse(70% 90% at 50% 10%);
    margin-bottom: 30px;
    border-bottom: 4px solid #edc205;
}
.nav-links button {
    border: none;
    color: black;
    background: #8f0f0f;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    transform: translateY(137px);
    margin: 0px 50px;
    margin-left: 0px;
    padding: 7px 13px;
    transition: color 0.2s;
    z-index: 1;
    border-radius: 30px;
}
.nav-links button:hover, .nav-links button.active {
    color: black;
    box-shadow: 6px 7px 17px black;
}
.main-content {
    max-width: 1400px;
    margin: 0 auto;
}
.tab-content {
    display: none;
    padding: 30px;
}
.tab-content.active-content {
    display: block;
}
h1, h2 {
    margin-bottom: 15px;
    color: white;
}
p {
    color: #94a3b8;
    margin-bottom: 15px;
}
.home-grid{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
    flex-wrap: wrap;
}
.grid-card {
    background-color: #0f172a;
    border: 1px solid #334155;
    border-radius: 12px;
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    cursor: pointer;
    transition: transform 0.2s, background-color 0.2s;
}
.grid-card:hover .card-icon, .grid-card:hover .card-title {
    color: white;
}
.card-icon{
    font-size: 28px;
    color: #3b82f6;
}
.card-title {
    color: white;
    font-size: 14px;
    font-weight: 600;
}
.profile-grid{
    display: grid;
    grid-template-columns: 1fr 1.2fr 1fr;
    gap: 25px;
    margin-bottom: 50px;
}
.profile-card{
    background: #0f172a;
    border: 1px solid #334155;
    border-radius:12px;
    padding:25px;
    min-height:400px;
}
.profile-card h2{
    color: #a70b0b;
    font-size: 20px;
    margin-top: 15px;
}
.profile-card p{
    color: #c8c7dc;
}
.center-card{
    text-align: center;
}
.center-card img{
    width:100%;
    max-width:300px;
    border-radius:10px;
    margin-bottom:15px;
    object-fit:cover;
}
.socials{
    margin-top: 20px;
}
.social p {
    color: #ff0000;
    font-weight:600;
}
.about-grid{
    display:flex;
    flex-wrap:wrap;
    gap: 15px;
    margin-top: 20px;
}
.about-card{
    background: #0f172a;
    border: #334155;
    color: White;
    padding: 15px 25px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s;
}
.about-card:hover{
    transform:translateY(-3px);
    background: #1e293b;
}
.about-content{
    display: none;
    margin-top: 25px;
    background: #10ebe0;
    border: 1px solid #334155;
    border-radius: 12px;
    padding: 20px;
}

{}